<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qin.imagezxlingdemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/survey"
        android:label="Survey"
        android:roundIcon="@mipmap/survey"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FindPwd" android:configChanges="locale"/>
        <activity android:name=".Register" android:configChanges="locale"/>
        <activity android:name=".Login" android:configChanges="locale"/>
        <activity android:name=".MainFace" android:configChanges="locale"/>
        <activity android:name=".UnlockView" />
        <activity
            android:name=".Report"
            android:configChanges="locale" />
        <activity
            android:name=".Show_json"
            android:configChanges="locale" />
        <activity android:name=".Welcome" android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SActivity"
            android:configChanges="locale" />
        <activity
            android:name=".TimeActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale"/>
        <activity
            android:name=".EasyCaptureActivity"
            android:configChanges="locale" />
    </application>

</manifest>